body{
    margin: 0px;
    overflow-x: hidden;
}

.hidden{
    visibility: hidden;
    display: none;
}
.visible{
    visibility: visible;
}
.no-overflow{
    overflow: hidden;
}

::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    width: 9px;
    height: 16px;
    overflow: visible;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}

body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255,255,255,.4);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
}


a{
    text-decoration: none;
}

.collapse-button{
    width: 32px;
    height: 32px;
    /* padding: 0 4px 0 4px; */
    position: fixed;
    top: 24px;
    left: 24px;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    color: white;
    z-index: 100;
    display: none;
    z-index: 1000;
    cursor: pointer;
}
.collapse-button i{
    margin: 4px auto 0 auto;
}

header{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 19.667%;
    background-color: rgba(33,33,33,1);
    font-family: Lato, sans-serif;
    color: white;
    overflow: auto;
    z-index: 999;
    padding: 0;
}

header a{
    color: white;
}

.sidebar{
    padding-top: 48px;
}

nav a:hover{
    color: rgba(73,170,212,1);
}

.guild-home-link:hover{
    color: white;
}

.guild-logo-link{
    display: block;
    width: 30px;
    height: 36px;
    margin: 0px 24px 24px 48px;
}

.guild-logo-img{
    width: 30px;
    height: 36px;
}

.guild-home-link{
    display: block;
    margin: 11px 0px 62px 48px;
}

.guild-home-div{
    font-family: 'PT Sans', sans-serif;
    font-size: 19pt;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.3;
}

ul{
    list-style: none;
    padding: 0px;
}

.nav-li{
    padding: 12px 12px 12px 48px;
}

.navbar-main a{
    color: rgba(73,170,212,1);
}

.navbar-blog a i{
    margin-left: -20.45px;
}
.navbar-blog-ul{
    margin: 8% 0 0 8%;
}
.navbar-blog-li{
    padding: 12px 0 12px 0;
}

.navbar-guilds a i{
    margin-left: -20.45px;
}
.navbar-guilds-ul{
    margin: 8% 0 0 8%;
}
.navbar-guilds-li{
    padding: 12px 0 12px 0;
}


/* main content begins */

/* main content begins */

/* main content begins */


.main-container {
    margin-left: 19.667%;
    width: 80.333%;
    background-color: #EFDEC7;
}

#search-menu {
    position: fixed;
    width: 100%;
    height: 66px;
    top: 0;
    z-index: 9999;
    visibility: hidden;
    background-color: rgb(238, 238, 238);
}
.toggled {
    top: 0;
    opacity: 1;
    visibility: visible !important;
    z-index: 999999;
}
#search-menu .wrapper {
    width: 70%;
    height: 48px;
    margin: auto;
    margin-top: 9px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    color: #212121;
    background-color: #fff;
}
.wrapper form{
    width: 100%;
    height: 100%;
}
#search-menu #popup-search-button {
    /* display: inline !important; */
    width: 36px;
    height: 36px;
    margin: 6px auto;
    background: transparent;
    border: none;
    color: #000;
    font-size: 1em;
    text-align: center;
}
#search-menu #popup-search-button:hover {
    color: #050;
    cursor: pointer;
}
#search-menu #popup-search-button:focus {
    outline: none;
}
#search-menu .wrapper #popup-search {
    width: 90%;
    height: 50%;
    background: transparent;
    border: 0;
    background-color: #fff;
    margin: 0 0 0 0;
}
#search-menu .wrapper #popup-search:focus{
    outline: none;
}
.icon-removed{
   visibility: hidden;
} 
.search{
    position: fixed;
    right: 0px;
    top: 15px;
    width: 46px;
    height: 32px;
    background-color: black;
    color: #fff;
    opacity: 0.7;
    border-radius: 32px 0 0 32px;
    z-index: 1;
}
.search i{
    margin: 8px 0 0 8px;
    cursor: pointer;
}



.decorative-picture-section{
    width: 100%;
    height: 53vh;
    background-image: url("./index_images/cover.png");
    background-position: center center;
    background-size: cover;
    transform: translate3d(0px, 0px, 0px);
}


.main-content{
    width: 100%;
}

.manage-main-content-columns{
    width: 90.598%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 4.701% 0 4.701%;
    margin-top: 30px;
}

.content{
    width: 50%;
    height: 310px;
    padding: 0 1.266%;
}

.content-header-link{
    
}

.content-header-container{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
}

.content-header{
    margin: auto;
    font-family: Arial;
    font-weight: 700;
    vertical-align: baseline;
    font-size: 32px;
    color: rgb(33, 33, 33);
    line-height: 41px;
}

.content-image{
    width: 100%;
}

.manage-contacts-content-columns{
    width: 90.598%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 4.701% 0 4.701%;
    margin-top: 30px;
}

.contacts{
    width: 50%;
    height: auto;
    padding: 0 1.266%;
}

.contacts-list{
    
}

.contacts-list-link{
    text-decoration: underline;
    color:rgb(33, 33, 33);
}

.contacts-list-text{
    margin: 0;
    padding: 0;
    font-family: Merriweather, serif;
    line-height: 1.6667;
    color:rgb(33, 33, 33);
    font-size: 13.999999999999998pt;
    font-weight: 700;
    line-height: 1.6667;
    margin-top: 12px;
}

iframe{
    width: 100%;
    height: 90%;
    border: none;
    margin-top: 12px;
}







/* footer */


footer{
    width: 100%;
    background-color: #f2f2f2;
    padding: 24px 0 24px 0;
}

.social-media-links{
    width: 90%;
    height: 66px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social-media-link{
    width: 48px;
    height: 48px;
    margin: 9px;
}

.social-media-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.fb-img{
    background-color: #1877f2;;
}

.ig-img{
    background-color: #fe005c;
}

.tiktok-img{
    background-color: #000000;
}
.yt-img{
    background-color: #ff0000;
}


/* media begins

media begins

media begins */



@media only screen and (max-width: 1024px){
    .collapse-button{
        display: block;
    }

    header{
        display: none;
    }

    .header--collapsed{
        width: 250px;
        display: block;
    }

    .sidebar{
        margin-top: 40px;
    }

    .main-container {
        margin: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 768px){

    
}

@media screen and (max-width: 629px){
    #search-menu .wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 500px){

    .manage-main-content-columns{
        display: block;
        width: 98%;
        padding: 0 1% 0 1%;
    }

    .content{
        width: 98%;
        /* min-width: 215px; */
        height: auto;
    }
    .manage-contacts-content-columns{
        display: block;
        width: 98%;
        padding: 0 1% 0 1%;
    }

    .contacts{
        width: 98%;
        /* min-width: 215px; */
    }
    .contacts-map{
        height: 70vw;
    }
}

@media screen and (max-width: 440px){
    #search-menu .wrapper #popup-search{
        width: 70%;
    }
}




